body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px 100px;
    background-color: #1F2937;
    align-items: center;
}

.header h1 {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.header .links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    gap: 30px;
}

.header .links li a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 10px 150px 150px;
    gap: 50px;
}

.hero .left {
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.hero h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}


.hero a {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.characters {
    padding: 100px 150px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.characters h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.characters .cards {
    display: flex;
    gap: 30px;
}

.characters .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.characters .card img {
    width: 200px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote-container {
    padding: 100px 150px 100px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-container .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-container .author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.call-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 150px 100px;
}

.call {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
}

.call h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.call p {
    color: #E5E7EB;
    font-size: 18px;
}

.call a {
    color: #F9FAF8;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
}