body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px 100px;
    background-color: #1F2937;
    align-items: center;
}

.header h1 {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.header .links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    gap: 30px;
}

.header .links li a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 10px 150px 150px;
    gap: 50px;
}

.hero .left {
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.hero h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}


.hero a {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}