body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px 100px;
    background-color: #1F2937;
    align-items: center;
}

.header h1 {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header .links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    gap: 30px;
}

.header .links li a {
    text-decoration: none;
    color: #E5E7EB;
}